@import "site.mixins.less";


.s-Configuration-CompanyDialog {
    > .size { width: 650px; }
    .caption { width: 150px; }
}

.s-Configuration-IslandDialog {
    > .size { width: 650px; }
    .caption { width: 150px; }
}

.s-Configuration-ProvinceDialog {
    > .size { width: 650px; }
    .caption { width: 150px; }
}

.s-Configuration-CityDialog {
    > .size { width: 650px; }
    .caption { width: 150px; }
}

.s-Configuration-BinLocationDialog {
    > .size { width: 650px; }
    .caption { width: 150px; }
}

.s-Configuration-CategoryUnitDialog {
    > .size { width: 650px; }
    .caption { width: 150px; }
}

.s-Configuration-CustomerDialog {
    > .size { width: 650px; }
    .caption { width: 150px; }
}

.s-Configuration-MovementTypeDialog {
    > .size { width: 650px; }
    .caption { width: 150px; }
}

.s-Configuration-OrderCategoryDialog {
    > .size { width: 650px; }
    .caption { width: 150px; }
}