@import "site.mixins.less";


.s-Transaction-InventoryDialog {
    > .size { width: 650px; }
    .caption { width: 150px; }
}

.s-Transaction-MovementStockDialog {
    > .size { width: 650px; }
    .caption { width: 150px; }
}

.s-Transaction-PurchaseOrderDialog {
    > .size { width: 650px; }
    .caption { width: 150px; }
}

.s-Transaction-PurchaseOrderDetailDialog {
    > .size { width: 650px; }
    .caption { width: 150px; }
}

.s-Transaction-OrdersDialog {
    > .size { width: 650px; }
    .caption { width: 150px; }
}

.s-Transaction-OrderDetailDialog {
    > .size { width: 650px; }
    .caption { width: 150px; }
}

.s-Transaction-ReceiveOrderDialog {
    > .size { width: 650px; }
    .caption { width: 150px; }
}

.s-Transaction-ReceiveOrderDetailDialog {
    > .size { width: 650px; }
    .caption { width: 150px; }
}

.s-Transaction-SerialNumberUnitDialog {
    > .size { width: 650px; }
    .caption { width: 150px; }
}

.s-Transaction-ServiceUnitDialog {
    > .size { width: 650px; }
    .caption { width: 150px; }
}

.s-Transaction-ServiceUnitDetailDialog {
    > .size { width: 650px; }
    .caption { width: 150px; }
}

.s-Transaction-ServiceUnitTypeDialog {
    > .size { width: 650px; }
    .caption { width: 150px; }
}

.s-Transaction-ServiceUnitTypeDetailDialog {
    > .size { width: 650px; }
    .caption { width: 150px; }
}

.s-Transaction-ServiceUnitTypePriceDialog {
    > .size { width: 650px; }
    .caption { width: 150px; }
}