@{
    ViewData["Title"] = Serenity.LocalText.Get("Db.Configuration.CategoryUnit.EntityPlural");
}

<div id="GridDiv"></div>

<script type="text/javascript">
    jQuery(function () {
        new DIMSOnline.Configuration.CategoryUnitGrid($('#GridDiv'), {}).init();

        Q.initFullHeightGridPage($('#GridDiv'));
    });
</script>