{
    "RootNamespace": "DIMSOnline",
    "Connections": [
        {
            "Key": "Default",
            "ConnectionString": "Data Source=.\\SQLEXPRESS; Initial Catalog=CASDIMS; Integrated Security=True",
            "ProviderName": "System.Data.SqlClient",
            "Tables": [
                {
                    "Tablename": "dbo.City",
                    "Identifier": "City",
                    "Module": "Configuration",
                    "ConnectionKey": "Default",
                    "PermissionKey": "Administration:General"
                }
            ]
        }
    ],
    "KDiff3Path": "C:\\Program Files (x86)\\KDiff3\\kdiff3.exe",
    "TFSIntegration": false,
    "WebProjectFile": "..\\..\\..\\DIMSOnline.Web\\DIMSOnline.Web.csproj",
    "BaseRowClasses": [],
    "RemoveForeignFields": [],
    "CustomGenerate": {},
    "CustomSettings": {},
    "GenerateRow": true,
    "GenerateService": true,
    "GenerateUI": true,
    "GenerateCustom": true
}