@{
    ViewData["Title"] = Serenity.LocalText.Get("Db.Transaction.ServiceUnitType.EntityPlural");
}

<div id="GridDiv"></div>

<script type="text/javascript">
    jQuery(function () {
        new DIMSOnline.Transaction.ServiceUnitTypeGrid($('#GridDiv'), {}).init();

        Q.initFullHeightGridPage($('#GridDiv'));
    });
</script>