@{
    ViewData["Title"] = Serenity.LocalText.Get("Db.Transaction.ServiceUnitTypePrice.EntityPlural");
}

<div id="GridDiv"></div>

<script type="text/javascript">
    jQuery(function () {
        new DIMSOnline.Transaction.ServiceUnitTypePriceGrid($('#GridDiv'), {}).init();

        Q.initFullHeightGridPage($('#GridDiv'));
    });
</script>