
@{
    ViewData["Title"] = "User";
}

<div id="GridDiv"></div>

<script type="text/javascript">
    jQuery(function () {
        new DIMSOnline.Administration.UserGrid($('#GridDiv'), {
        });

        Q.initFullHeightGridPage($('#GridDiv'));
    });
</script>